@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400&display=swap');

body{
    background-color: #E5E5E5;
}
/**Topo**/
.cabecalho {
    width: 100%;
    height: 92px;
    position: fixed;
    background-color: #CF2B2B;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.logo-titulo {
    font-family: Righteous;
    color: #ffffff;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
}

.logo-subtitulo {
    font-family: Roboto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.logo {
    margin-top: 8px;
    margin-left: 21px;
}


/**Container**/
.container {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    height: auto;
}

.titulos-gerais {
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    color:#333333;
    margin-bottom: 10px;
}

.nome-comida1,
.nome-comida2,
.nome-comida3,
.nome-bebida1,
.nome-bebida2,
.nome-bebida3,
.nome-sobremesa1,
.nome-sobremesa2,
.nome-sobremesa3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    margin-top: 5px;
    color: #333333;    
}

.descricao-produto {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #A6A6A6;
}

.preco {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: black;    
}


.preco-comida1,
.preco-comida2,
.preco-comida3,
.preco-bebida1,
.preco-bebida2,
.preco-bebida3,
.preco-sobremesa1,
.preco-sobremesa2,
.preco-sobremesa3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: black;  
}

ul {
    display: flex;
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
}

ion-icon {
    color: #ffffff;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 67.1px;
}

.opcao{
    display: flex;
    flex-wrap: wrap;
}

.opcao-bebida div, .opcao-sobremesa div{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-right: 16px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -4px #00000040;
    padding: 18px 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.imagem-produto {
    width: 144px;
    height: 87px;
}


.produtos {
    margin-left: 19px;
    margin-bottom: 25px;
}

.botao-pedido {
    width: 88%;
    height: 67%;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #ffffff;
}

.botao-pedido-confirmacao {
    background-color: #32B72F;
    font-weight: 700;
}

.opcao-selecionada-comida,
.opcao-selecionada-bebida,
.opcao-selecionada-sobremesa {
    border: 5px solid #32B72F;
    box-shadow: 0px 4px 4px 0px #00000040;
}
/**Barra inferior**/
.barra-inferior {
    position: fixed;
    width: 100%;
    height: 92px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}
  
.confirmar-pedido {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}